<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/images.css">
    <script src="https://kit.fontawesome.com/c7d1b0ffc1.js" crossorigin="anonymous"></script>
    <title>PIXAGE</title>
</head>
<body>
    <div class="dashboard-container">
        <nav>

        </nav>
        <main>
            <header>
                <a href="../views/dashboard.html">
                    <img src="../img/logo-gradient.svg">
                </a>

                <div class="search-bar">
                    <form>
                        <input class="search-input" placeholder="search">
                        <i class="fas fa-search"></i>
                    </form>
                </div>
                <a href="profile.html" class="profil">
                    <i class="fas fa-user"></i>
                </a>
            </header>
            <div class="gallery">
                  <figure class="gallery__item gallery__item--1">
                    <img src="../img/uploads/blue-1.jpg" class="gallery__img" alt="Image 1">
                  </figure>
                  <figure class="gallery__item gallery__item--2">
                    <img src="../img/uploads/blue-2.jpg" class="gallery__img" alt="Image 2">
                  </figure>
                  <figure class="gallery__item gallery__item--3">
                    <img src="../img/uploads/blue-3.jpg" class="gallery__img" alt="Image 3">
                  </figure>
                  <figure class="gallery__item gallery__item--4">
                    <img src="../img/uploads/pink-1.jpg" class="gallery__img" alt="Image 4">
                  </figure>
                  <figure class="gallery__item gallery__item--5">
                    <img src="../img/uploads/pink-3.jpg" class="gallery__img" alt="Image 5">
                  </figure>
                  <figure class="gallery__item gallery__item--6">
                    <img src="../img/uploads/pink-5.jpg" class="gallery__img" alt="Image 6">
                  </figure>
                  <figure class="gallery__item gallery__item--7">
                    <img src="../img/uploads/m-1.jpg" class="gallery__img" alt="Image 7">
                  </figure>
                  <figure class="gallery__item gallery__item--8">
                    <img src="../img/uploads/yellow-1.jpg" class="gallery__img" alt="Image 8">
                  </figure>
                  <figure class="gallery__item gallery__item--9">
                    <img src="../img/uploads/yellow-2.jpg" class="gallery__img" alt="Image 9">
                  </figure>
                  <figure class="gallery__item gallery__item--10">
                    <img src="../img/uploads/yellow-3.jpg" class="gallery__img" alt="Image 10">
                  </figure>
                  <figure class="gallery__item gallery__item--11">
                    <img src="../img/uploads/yellow-4.jpg" class="gallery__img" alt="Image 11">
                  </figure>

            </div>
        </main>

    </div>
    
</body>
</html>