<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/images.css">
    <script src="https://kit.fontawesome.com/c7d1b0ffc1.js" crossorigin="anonymous"></script>
    <title>PIXAGE</title>
</head>
<body>
    <div class="dashboard-container">
        <nav>

        </nav>
        <main>
            <header>
                <img src="../img/logo-gradient.svg">
                <div class="search-bar">
                    <form>
                        <input placeholder="search">
                        <i class="fas fa-search"></i>
                    </form>
                </div>
                <button class="profil">
                    <i class="fas fa-user"></i>
                </button>
            </header>
            <section class="images">
                <div id="image-1">
                    <img src="../img/uploads/istockphoto-1288244245-170667a.jpg">
                    <i class="fas fa-heart"></i>
                </div>
                <div id="image-2">
                    <img src="../img/uploads/photo-1603765494345-e66409ed314b.jfif">
                    <i class="fas fa-heart"></i>
                </div>
                <div id="image-3">
                    <img src="../img/uploads/photo-1637266702043-287eb7d2b5b2.jfif">
                    <i class="fas fa-heart"></i>
                </div>
                <div id="image-4">
                    <img src="../img/uploads/photo-1637278643503-3a49c91b7000.jfif">
                    <i class="fas fa-heart"></i>
                </div>
            </section>
        </main>

    </div>
    
</body>
</html>