<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/articles.css">
    <link rel="stylesheet" type="text/css" href="../css/image.css">
    <script src="https://kit.fontawesome.com/c7d1b0ffc1.js" crossorigin="anonymous"></script>
    <title>IMAGE</title>
</head>
<body>
<div class="dashboard-container">
    <nav>

    </nav>
    <main>
        <header>
            <a href="../views/dashboard.html">
                <img src="../img/logo-gradient.svg">
            </a>

            <div class="search-bar">
                <form>
                    <input class="search-input" placeholder="search">
                    <i class="fas fa-search"></i>
                </form>
            </div>
            <a href="profile.html" class="profil">
                <i class="fas fa-user"></i>
            </a>
        </header>

        <div class="im-container">
            <div class="image-container">
                <div class="image">
                </div>
                <div class="image-footer">
                </div>
            </div>
            <div class="information">
                <div class="author">
                    <a href="../views/profile.html" class="profile-picture">
                        <img src="../img/uploads/vladimir-kozhevnikov-VwZuLjeTqqo-unsplash.jpg">
                    </a>
                    <a href="../views/profile.html" class="user-name">
                        <h2 class="user-name">User-name</h2>
                    </a>
                </div>
                <div class="image-description">
                    <a class="description">#hashtag #hashtag</a><br>
                    <a class="description">#hashtag #hashtag</a><br>
                    <a class="description">#hashtag #hashtag</a><br>
                </div>
                <div class="image-specification">
                    <img src="../img/icons/camera-icon.svg">
                    <div class="camera-lens">
                        <a class="camera-specification">Camera: Nikon D5100</a><br>
                        <a class="camera-specification">Lens: Nikkor AF-S 50mm f/1.8G</a>
                    </div>
                </div>
                <div class="image-specification-2">
                    <div class="part">
                        <div class="icons-with-var">
                            <img src="../img/icons/flash.svg">
                            <a class="var">variable</a>
                        </div>
                        <div class="icons-with-var">
                            <img src="../img/icons/aperture.svg">
                            <a class="var">variable</a>
                        </div>
                        <div class="icons-with-var">
                            <img src="../img/icons/light.svg">
                            <a class="var">variable</a>
                        </div>

                    </div>
                    <div class="part">
                        <div class="icons-with-var">
                            <img src="../img/icons/exposure.svg">
                            <a class="var">variable</a>
                        </div>
                        <div class="icons-with-var">
                            <img src="../img/icons/focus.svg">
                            <a class="var">variable</a>
                        </div>
                        <div class="icons-with-var">
                            <img src="../img/icons/iso.svg">
                            <a class="var">variable</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </main>

</div>

</body>
</html>