.add-article-page .add-article-container{
    display: grid;
    grid-template-rows: 10% 10% 50% 30%;
    grid-template-columns: repeat(10, 10%);
    width: 100%;
    height: 85vh;
}

.title{
    grid-row: 1/2;
    grid-column: 3/7;
    width: 40vw;

}

.add-poster{
    grid-row: 1/2;
    grid-column: 7/8;
    width: 10vw;
}

.article-content{
    grid-row: 2/3;
    grid-column: 3/7;
}

.add-article-button{
    grid-column: 8/9;
}

.article-title{
    background: white;
    border-radius: 50px;
    width: 30vw;
    height: 4vh;
    border: 1px solid #707070;
    padding-left: 1em;
    margin: 0.5em;
}

textarea.content{
    background: white;
    border-radius: 25px;
    border: 1px solid #707070;
    padding: 1em;
    width: 60vw;
    font-family: "Segoe UI";

}

button.add-article-submit {
    border-radius: 25px;
    border: none;
    background: transparent linear-gradient(101deg, #f9464948 0%, hsla(348, 93%, 62%, 0.233) 30%, #f63fbf48 66%, #6c7dff3d 100%) 0% 0% no-repeat padding-box;
    width: 9vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0.5em;
}
button.add-article-submit:hover{
    background: transparent linear-gradient(101deg, #f94649 0%, hsl(348, 93%, 62%) 30%, #f63fbf 66%, #6c7dff 100%) 0% 0% no-repeat padding-box;
    color: #ffffff;
}


.add-poster-input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.add-poster-input + label {

    display: block;
    border: none;
    outline: none;
    text-align: center;
    font: normal normal  14px/30px Segoe UI;
    letter-spacing: 0px;
    color: black;
    justify-self: center;
    text-decoration: none;
    border-radius: 25px;
    background: transparent linear-gradient(101deg, #f9464948 0%, hsla(348, 93%, 62%, 0.233) 30%, #f63fbf48 66%, #6c7dff3d 100%) 0% 0% no-repeat padding-box;
    width: 9vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}
.add-poster-input:focus + label,
.add-poster-input + label:hover{
    background: transparent linear-gradient(101deg, rgba(249, 70, 73, 0.9) 0%, rgba(248, 68, 104, 0.9) 30%, rgba(246, 63, 192, 0.9) 66%, rgba(108, 126, 255, 0.9) 100%) 0% 0% no-repeat padding-box;
    color: #ffffff;
}

.add-poster-input + label{
    cursor: pointer;
}
