.articles-container{
    display: grid;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    grid-template-rows: 15% 5% min-content;
}
.articles {
    display: grid;
    grid-template-columns: repeat(20, 5%);
    margin:0;
    background: white;
    width: 100vw;
    height: 5vh;
}

.article {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    overflow: auto;
    margin: 0em 2em 2em 2em;

}

.article>a>img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0 ;
}

.article>a>div {
    height: fit-content;
    text-align: left;
    font-family: Arial;
    letter-spacing: 0px;
    color: #707070;
    margin:0 1em 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around ;

}

a.singleArt {
    height: 300px;
    width: auto;
    border: 1px solid grey;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1.art-title{
    text-decoration: none;

}



