body{
    margin: 0;
    font-family: "Segoe UI";
}

.edit-profile{
    display: flex;
    margin: 9em 10em 2em 10em;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    height: 85vh;
}

.picture-and-biogram{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
}

.profile-picture
{
    justify-content: left;
    width: 100px;
    height: 100px;
    margin: 0 3em 0 3em;
}

.profile-picture img
{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.biogram{
    width: 20vw;
}

h2.user-name {
    text-align: left;
    color: #707070;
    font: normal normal 300 25px/24px Segoe UI;
    letter-spacing: 0.5px;
    margin: 0.5em 0 0.5em 0;
}

a.edit-user-picture{
    text-decoration: none;
    color: #F63FC0;
    font: normal normal normal 15px/32px Segoe UI;
}


.edit-profile-data{
    margin: 1em;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
}

input.data-input{
    background: white;
    border-radius: 50px;
    width: 25vw;
    height: 5vh;
    border: 1px solid #707070;;

}
.data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
    margin: 1em;
    align-self: center;

}
div.data>a{
    align-self: center;
    color: #707070;
    font: normal normal normal 15px/32px Segoe UI;
}
a.delete-button{
    border: 1px solid rgba(72, 72, 72, 0.73);
    border-radius: 25px;
    width: 150px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a.delete-button:hover{
    background: rgba(72, 72, 72, 0.59);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0);
}

a.save-button{
    border-radius: 25px;
    background: transparent linear-gradient(180deg, rgba(249, 70, 73, 0.2) 0%, rgba(248, 68, 104, 0.2) 18%, rgba(246, 63, 192, 0.2) 53%, rgba(108, 126, 255, 0.2) 100%) 0% 0% no-repeat padding-box;
    width: 140px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
a.save-button:hover{
    background:  transparent linear-gradient(180deg, rgba(249, 70, 73, 0.9) 0%, rgba(248, 68, 104, 0.9) 18%, rgba(246, 63, 192, 0.9) 53%, rgba(108, 126, 255, 0.9) 100%) 0% 0% no-repeat padding-box;
    color: #ffffff;
}