body{
    margin: 0;
    font-family: "Segoe UI";
}

.edit-profile-container{
    display: grid;
    align-items: center;
    height: 100vh;
}

.edit-profile{
    display: flex;
    margin: 0em 10em 2em 10em;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    height: 85vh;
}

h2.user-name {
    text-align: left;
    color: #707070;
    font: normal normal 300 25px/24px Segoe UI;
    letter-spacing: 0.5px;
    margin: 0.5em 0 0.5em 0;
}
.edit-profile-data{
    margin: 1em;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
}

input.data-input, textarea.data-input{
    background: white;
    border-radius: 50px;
    width: 25vw;
    height: 5vh;
    border: 1px solid #707070;;
}

.data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
    margin: 1em;
    align-self: center;

}
div.data>a{
    align-self: center;
    color: #707070;
    font: normal normal normal 15px/32px Segoe UI;
}

div.data>button.save-button{
    border-radius: 25px;
    background: transparent linear-gradient(101deg, #f9464948 0%, hsla(348, 93%, 62%, 0.233) 30%, #f63fbf48 66%, #6c7dff3d 100%) 0% 0% no-repeat padding-box;
    width: 140px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
}
div.data>button.save-button:hover{
    background: transparent linear-gradient(101deg, rgba(249, 70, 73, 0.9) 0%, rgba(248, 68, 104, 0.9) 30%, rgba(246, 63, 192, 0.9) 66%, rgba(108, 126, 255, 0.9) 100%) 0% 0% no-repeat padding-box;
    color: #ffffff;
}

.user-profile-pic{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.user-profile-pic + label {
    font-size:14px;
    border-radius: 25px;
    background: transparent linear-gradient(101deg, #f9464948 0%, hsla(348, 93%, 62%, 0.233) 30%, #f63fbf48 66%, #6c7dff3d 100%) 0% 0% no-repeat padding-box;
    width: 140px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;

}
.user-profile-pic:focus + label,
.user-profile-pic + label:hover{
    background: transparent linear-gradient(101deg, rgba(249, 70, 73, 0.9) 0%, rgba(248, 68, 104, 0.9) 30%, rgba(246, 63, 192, 0.9) 66%, rgba(108, 126, 255, 0.9) 100%) 0% 0% no-repeat padding-box;
    color: #ffffff;
}

.user-profile-pic + label{
    cursor: pointer;
}
