header {
    display: grid;
    grid-template-columns: repeat(100, 1%);
    grid-template-rows: repeat(10, 10%);
    background: white;
    grid-row: 1/2;
    width: 100vw;
}
header>a {
    grid-row: 2/4;
    grid-column: 4/17;
    width: 200px;
    height: 90px;

}

header>a>img{
    width: 200px;
    height: 90px;
}

.search-bar {
    grid-row: 4/7;
    grid-column: 40/90;

}
.search-bar>input.search-input{
    background: transparent linear-gradient(101deg, #f9464948 0%, hsla(348, 93%, 62%, 0.233) 30%, #f63fbf48 66%, #6c7dff3d 100%) 0% 0% no-repeat padding-box;
    border-radius: 50px;
    width: 80%;
    height: 5vh;
    border: none;
    padding: 0 0 0 1em;
}

.search-bar>i {
    color: gray;
    grid-row: 4/7;
}

.search-bar>i:hover {
    color: #484848;
}
a.profil {
    display: flex;
    background: transparent linear-gradient(180deg, rgba(249, 70, 73, 0.9) 0%, rgba(248, 68, 104, 0.9) 18%, rgba(246, 63, 192, 0.9) 53%, rgba(108, 126, 255, 0.9) 100%) 0% 0% no-repeat padding-box;
    border-radius: 100%;
    border: none;
    width: 50px;
    height: 50px;
    outline: none;
    align-items: center;
    justify-content: center;
    grid-row: 3/8;
    grid-column: 96/100;
}

a.profil:hover{
    background: transparent linear-gradient(180deg, rgba(249, 70, 73, 0.24) 0%, rgba(248, 68, 104, 0.24) 18%, rgba(246, 63, 192, 0.24) 53%, rgba(108, 126, 255, 0.24) 100%) 0% 0% no-repeat padding-box;

}

a.profil>i {
    color: white;
    grid-row: 3/8;
    grid-column: 96/100;
}


@media only screen and (max-width: 600px){
    header {
        width: 100%;
    }
    header>a {
        width: 100%;
        height: 100%;

    }

    .search-bar, .search-bar>input.search-input {
        width: 60%;
        grid-column: 60/100;

    }

    .search-bar>i {
        display: none;
    }

    a.profil {

        grid-row: 3/8;
        grid-column: 85/90;
    }


}

@media only screen and (max-width: 490px){
    header {
        width: 100%;
    }
    header>a {
        width: 100%;
        height: 100%;

    }

    .search-bar {
        width: 40%;
        grid-column: 60/100;

    }
    .search-bar>input.search-input{
        width: 30%;

    }
    .search-bar>i {
        display: none;
    }

    a.profil {

        grid-row: 3/8;
        grid-column: 85/90;
    }


}