body {
    font-family: "Segoe UI";
}
.im-container{
    display: grid;
    margin: 0;
    height: 85vh;
    grid-template-columns: 60% 40%;
}

.image-container{
    display: grid;

}

.added-image{
    display: flex;
    justify-content: center;
    align-content: center;
    margin:  1em 2em 0 2em;
    width: 55vw;
    height: 75vh;
    background: transparent linear-gradient(101deg, rgba(249, 70, 73, 0.3) 0%, rgba(248, 68, 104, 0.3) 30%, rgba(246, 63, 192, 0.3) 66%, rgba(108, 126, 255, 0.3) 100%) 0% 0% no-repeat padding-box;

}

#added-image img{
    max-width: 100%;
    max-height: 100%;
}


.image{
    margin: 1em 2em;
    width: auto;
    height: 75vh;
    background: white;
    display: flex;
    justify-content: center;
    align-content: center;

}

img.image-view{
    max-width: 55vw;
    height: 100%;
    object-fit: cover;
}


.image-footer i{
    width: 38px;
    height: 35px;
}

.author{
    width: 40vw;
    display: flex;
    flex-direction: row;
}

.information{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.profile-picture
{
    justify-content: left;
    width: 80px;
    height: 80px;
    margin: 1em;
}

.profile-picture>img
{
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2.user-name {
    text-align: left;
    color: #707070;
    font: normal normal 300 25px/24px Segoe UI;
    letter-spacing: 0.5px;
}

a.user-name{
    margin: 0 1em 0 1em;
    text-decoration: none;
}

.image-description{
    margin: 1em;
}

.image-specification{
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    align-content: center;
}

.image-specification img{
    width: 80px;
    height: 60px;
    align-self: center;
}
.camera-lens{
    margin: 1em;
}

.image-specification-2{
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    align-content: center;
    width: 35vw;
    height: 30vh;
    justify-content: flex-start;

}

.image-specification-2 img{
    width: 35px;
    height: 35px;
}

.part{
    display: flex;
    flex-direction: column;
    margin: 0.5em 1em 0.5em 0.5em;
    align-content: center;
    height: 25vh;
    justify-content: space-between
}
.icons-with-var{
    display: flex;
    flex-direction: row;

}

.icons-with-var img{
    align-self: center;
}
p.var{
    margin: 1em;
    color: #707070;
}
p.description{
    color: #707070;
}

p.camera-specification{
    color: #707070;
}


textarea.hashtags-and-description{
    background: white;
    border-radius: 25px;
    border: 1px solid #707070;
    padding: 1em;
    width: 28vw;
    font-family: "Segoe UI";

}

input.Camera{
    background: white;
    border-radius: 50px;
    width: 10vw;
    height: 4vh;
    border: 1px solid #707070;
    padding-left: 1em;
    margin: 0.5em
}

input.Lens{
    background: white;
    border-radius: 50px;
    width: 10vw;
    height: 4vh;
    border: 1px solid #707070;
    padding-left: 1em;
    margin: 0.5em
}
input.var{
    background: white;
    border-radius: 25px;
    width: 10vw;
    height: 4vh;
    border: 1px solid #707070;
    margin-left: 1em;
    padding-left: 1em;
}

.add-image-input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.add-image-input + label {

    display: block;
    background: transparent linear-gradient(101deg, rgba(249, 70, 73, 0.3) 0%, rgba(248, 68, 104, 0.3) 30%, rgba(246, 63, 192, 0.3) 66%, rgba(108, 126, 255, 0.3) 100%) 0% 0% no-repeat padding-box;
    border-radius: 0 0 40px 40px;
    width: 55vw;
    height: 7vh;
    border: none;
    outline: none;
    text-align: center;
    font: normal normal  14px/50px Segoe UI;
    letter-spacing: 0px;
    color: black;
    justify-self: center;
    margin-left: 2.3em;
    text-decoration: none;
}
.add-image-input:focus + label,
.add-image-input + label:hover{
    background: transparent linear-gradient(101deg, rgba(249, 70, 73, 0.9) 0%, rgba(248, 68, 104, 0.9) 30%, rgba(246, 63, 192, 0.9) 66%, rgba(108, 126, 255, 0.9) 100%) 0% 0% no-repeat padding-box;
    color: #ffffff;
}

.add-image-input + label{
    cursor: pointer;
}

.add-post{
    display: flex;
    width: 31vw;
    justify-content: right;
}

button.add-post-button {
    border-radius: 25px;
    border: none;
    background: transparent linear-gradient(101deg, rgba(249, 70, 73, 0.3) 0%, rgba(248, 68, 104, 0.3) 30%, rgba(246, 63, 192, 0.3) 66%, rgba(108, 126, 255, 0.3) 100%) 0% 0% no-repeat padding-box;
    width: 120px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
button.add-post-button:hover{
    background: transparent linear-gradient(101deg, rgba(249, 70, 73, 0.9) 0%, rgba(248, 68, 104, 0.9) 30%, rgba(246, 63, 192, 0.9) 66%, rgba(108, 126, 255, 0.9) 100%) 0% 0% no-repeat padding-box;
    color: #ffffff;
}


select.list-button {
    padding:0;
    margin-left: 1em;
    background: transparent linear-gradient(101deg, rgba(249, 70, 73, 0.9) 0%, rgba(248, 68, 104, 0.9) 30%, rgba(246, 63, 192, 0.9) 66%, rgba(108, 126, 255, 0.9) 100%) 0% 0% no-repeat padding-box;
    border: none;
    font-size:14px;
    height:4vh;
    width: 15vw;
    line-height:2em;
    text-align:center;
    border-radius: 50px;
    cursor: pointer;
    color: black;

}

@media only screen and (max-width: 1350px){
    .im-container{
        grid-template-rows: 50% 50%;
        height: 100%;
    }
    .information{
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        margin-left: 1em;
    }
    .image-container{
        display: grid;
        grid-row: 1/2;
    }
    .image-specification-2{
        width: 90vw;
        height: 30vh;

    }
    .information{
        width: 100vw;
    }



}
