body {
    font-family: "Segoe UI";
}
.dashboard-container-w-title{
    display: grid;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    grid-template-rows: 15% min-content;
}


.category {
    display: grid;
    grid-template-columns: repeat(20, 5%);
    margin:0;
    background: white;
    width: 100vw;
    height: 5vh;
}

div>a.header {
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    color: #484848;
    grid-column: 2/4;
    text-decoration: none;

}

div>a.header2 {
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    color: #484848;
    grid-column: 4/8;
    text-decoration: none;

}

img.image-item{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50px;
}

.gallery, .gallery_categories{
    column-count: 5;
    width: 100vw;
    column-gap: 5px;

}

@media only screen and (max-width: 1000px){
    .gallery, .gallery_categories {
        column-count: 3;
    }

}

@media only screen and (max-width: 600px){
    .gallery, .gallery_categories {
        column-count: 1;
    }
}