body {
    margin: 0;
    font-family: "Segoe UI";
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #F94649 0%, #F84468 30%, #F63FC0 66%, #6C7EFF 100%) 0% 0% no-repeat padding-box;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    align-items: center;
}

.m-container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #F94649 0%, #F84468 30%, #F63FC0 66%, #6C7EFF 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a.logo {
    width: 100%;
    justify-self: center;
    align-self: center;
    text-align: center;
    text-decoration: none;
}

.logo>img{
    width: 70%;
}

.main-page-logo{
    width: 100%;
    text-align: center;

}
.main-page-logo>img{
    width: 50%;

}

.login-container {
    width: 100%;
    justify-self: flex-start;
    align-self: center;

}

.main-container{
    width: 100%;
    
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;

}

form.mainpage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20vh;
}


button.logsig {
    background: #FFFFFF4F 0% 0% no-repeat padding-box;
    border-radius: 50px;
    width: 30%;
    border: none;
    color: white;
    margin-top: 1em;
    line-height: 2.5em;
    text-decoration: none;
    text-align: center;
}

.login-signup-button{
    background: #FFFFFF4F 0% 0% no-repeat padding-box;
    border-radius: 50px;
    width: 10%;
    border: none;
    color: white;
    line-height: 2.5em;
    text-decoration: none;
    text-align: center;
}

input.login-input {
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.726);
    padding: 1em;
    margin: 1em;
    width: 50%;
    color: rgba(255, 255, 255, 0.726);
}

input.login-input::placeholder {
    color:rgba(255, 255, 255, 0.726);
  }

.dashboard-container {
    display: grid;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    grid-template-rows: 15% min-content;
}

.dashboard-container-w-title{
    display: grid;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

header {
    display: grid;
    grid-template-columns: repeat(100, 1%);
    grid-template-rows: repeat(10, 10%);
    background: white;
    grid-row: 1/2;
}
header>a {
    grid-row: 2/4;
    grid-column: 4/17;
    width: 200px;
    height: 90px;

}

header>a>img{
    width: 200px;
    height: 90px;
}

.search-bar {
    grid-row: 4/7;
    grid-column: 40/90;

}
.search-bar>form>input.search-input{
    background: transparent linear-gradient(101deg, #f9464948 0%, hsla(348, 93%, 62%, 0.233) 30%, #f63fbf48 66%, #6c7dff3d 100%) 0% 0% no-repeat padding-box;
    border-radius: 50px;
    width: 80%;
    height: 5vh;
    border: none;
    padding: 0 0 0 1em;
}

.search-bar>form>i {
    color: gray;
    grid-row: 4/7;
}

.search-bar>form>i:hover {
    color: #484848;
}
a.profil {
    display: flex;
    background: transparent linear-gradient(180deg, rgba(249, 70, 73, 0.9) 0%, rgba(248, 68, 104, 0.9) 18%, rgba(246, 63, 192, 0.9) 53%, rgba(108, 126, 255, 0.9) 100%) 0% 0% no-repeat padding-box;
    border-radius: 100%;
    border: none;
    width: 50px;
    height: 50px;
    outline: none;
    align-items: center;
    justify-content: center;
    grid-row: 3/8;
    grid-column: 96/100;
}

a.profil:hover{
    background: transparent linear-gradient(180deg, rgba(249, 70, 73, 0.24) 0%, rgba(248, 68, 104, 0.24) 18%, rgba(246, 63, 192, 0.24) 53%, rgba(108, 126, 255, 0.24) 100%) 0% 0% no-repeat padding-box;

}

a.profil>i {
    color: white;
    grid-row: 3/8;
    grid-column: 96/100;
}


