body {
    margin: 0;
    font-family: "Segoe UI";
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #F94649 0%, #F84468 30%, #F63FC0 66%, #6C7EFF 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.m-container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #F94649 0%, #F84468 30%, #F63FC0 66%, #6C7EFF 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.main-page-logo{
    width: 100%;
    text-align: center;

}

.login-container {
    width: 40%;

}

.main-container{
    width: 100%;
    
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;

}

form.mainpage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20vh;
}


button.logsig {
    background: #FFFFFF4F 0% 0% no-repeat padding-box;
    border-radius: 50px;
    width: 30%;
    border: none;
    color: white;
    margin-top: 1em;
    line-height: 2.5em;
    text-decoration: none;
    text-align: center;
}

.login-signup-button{
    background: #FFFFFF4F 0% 0% no-repeat padding-box;
    border-radius: 50px;
    width: 10%;
    border: none;
    color: white;
    line-height: 2.5em;
    text-decoration: none;
    text-align: center;
}
input.login-input {
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.726);
    padding: 1em;
    margin: 1em;
    width: 50%;
    color: rgba(255, 255, 255, 0.726);
}

input.login-input::placeholder {
    color:rgba(255, 255, 255, 0.726);
  }



.dashboard-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

main {
    width: 100vw;
    height: 100vh;


}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    object-fit: cover;
    position: fixed;
    background: white;
    width: 100vw;
    height: 15vh;
}
header>a>img {
    width: 15vw;
    margin: 1.5em 0 1em 2.5em;

}

.search-bar {
    width: auto;
    align-self: center;
   
}
.search-bar>form>input.search-input{
    background: transparent linear-gradient(101deg, #f9464948 0%, hsla(348, 93%, 62%, 0.233) 30%, #f63fbf48 66%, #6c7dff3d 100%) 0% 0% no-repeat padding-box;
    border-radius: 50px;
    width: 45vw;
    height: 5vh;
    border: none;
    padding: 0 0 0 1em;
}

.search-bar>form>i {
    color: gray;
}
.search-bar>form>i:hover {
    color: #484848;
}
a.profil {
    display: flex;
    background: transparent linear-gradient(180deg, rgba(249, 70, 73, 0.9) 0%, rgba(248, 68, 104, 0.9) 18%, rgba(246, 63, 192, 0.9) 53%, rgba(108, 126, 255, 0.9) 100%) 0% 0% no-repeat padding-box;
    border-radius: 100%;
    border: none;
    margin: 2em 3em 1em 1em;
    width: 50px;
    height: 50px;
    outline: none;
    align-items: center;
    justify-content: center
}

a.profil:hover{
    background: transparent linear-gradient(180deg, rgba(249, 70, 73, 0.24) 0%, rgba(248, 68, 104, 0.24) 18%, rgba(246, 63, 192, 0.24) 53%, rgba(108, 126, 255, 0.24) 100%) 0% 0% no-repeat padding-box;

}

a.profil>i {
    color: white;
}


@media screen and (max-device-width:1010px),
screen and (max-width:420px) {
    body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        height: 20vh;
        width: 80%;
    }

    .login-form {
        height: 80vh;
    }
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}